 * {
  box-sizing: border-box;
  margin: 0;
}
section {
  width: 500px;
  margin: auto;
  position: relative;
}
#carousel {
  width: 400px;
  height: 300px;
  border: 2px solid #9cb5a8;
  overflow: hidden;
  margin: auto;
  padding: 0;
}
.container {
  width: 2000px;
  height: 300px;
  margin: auto;
  padding: 0;
}
.slide {
  width: 400px;
  height: 300px;
  background-size: cover;
  object-fit: cover;
  list-style-type: none;
  color: white;
  font-size: 20px;
}
.img1 {
  background-image: url("https://c1.staticflickr.com/3/2914/14255859514_c7d59db02a_z.jpg");
}
.img2 {
  background-image: url("https://c1.staticflickr.com/9/8646/16321248171_1e70af18cb_z.jpg");
}
.img3 {
  background-image: url("https://c1.staticflickr.com/8/7739/17146978550_d3891fd58d_z.jpg");
}
.img4 {
  background-image: url("https://c1.staticflickr.com/8/7033/6682877479_8c1c5a67d7_z.jpg");
}
.img5 {
  background-image: url("https://c1.staticflickr.com/3/2936/14295862538_7c3ebb642a_z.jpg");
}
button {
  background-color: rgba(156, 181, 168, 0.4);
  color: white;
  border: none;
  font-size: 48px;
}
.left {
  position: absolute;
  left: 50px;
  top: calc(50% - 24px);
}
.right {
  position: absolute;
  right: 50px;
  top: calc(50% - 24px);
}